@import "../colors/colors";

.slide {
  height: 150px;
  img {
    float: left;
    width: 12%;
  }
  .text {
    width: 80%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    .name {
      display: block;
      margin-bottom: 10px;
      font-size: 18px;
      color: #333333;
    }
    .quote {
      font-size: 15px;
      color: #646464;
    }
  }
}
