.root {
  width: 400px;
  height: 100%;

  img {
    width: 100%;
    height: 80px;
  }

  .listWrapper {
    margin: auto;
    width: 70%;
    height: 80%;
    span {
      display: block;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    list-style-image: url(../../images/listBullet.png);

    ul {
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    li {
      font-size: 15px;
    }
  }
}
