@import "../colors";

.timer {
  width: 100%;
  height: 87px;
  background-color: $green;
  border-radius: 5px 5px 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  .text {
    color: white;
    margin-top: 10px;
    font-size: 24px;
  }
  .time {
    margin-top: 5px;
    font-size: 21px;
    color: #dbdbdb;
  }
}

.openedTimer {
  position: absolute;
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 0 0;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  .openedText {
    margin: 8px 0 0 15px;
    color: white;
    font-size: 15px;
  }
  .openedTime {
    margin: 8px 15px 0 0;
    color: #dbdbdb;
    font-size: 15px;
  }
}
