.App {
  margin: auto;
  width: 80%;
  .page-title {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  .offers {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 600px;
    display: flex;
  }
}
