@import "./colors";

.purchase-form {
  margin-top: 35px;

  .credit-cards {
    width: 470px;
    height: 30px;
  }
  form {
    margin-top: 20px;

    .input-row {
      position: relative;
      label {
        display: flex;
        margin-left: 5px;
        margin: 0 0 5px 5px;
        font-size: 10px;
      }
      input {
        border: 1px solid #d4d9e6;
        border-radius: 7px;
        width: 220px;
        height: 40px;
        margin-right: 55px;
        font-size: 15px;
        padding-left: 10px;
        // &::placeholder {
        //   font-size: 15px;
        // }
      }
    }

    .select-row {
      // background-color: pink;
      width: 300px;
      position: relative;
      display: flex;
      .select-month {
        display: flex;
        flex-direction: column;
        width: 120px;
      }
      span {
        margin-top: 25px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-weight: bold;
      }
      .select-year {
        display: flex;
        flex-direction: column;
        width: 87px;
      }
      label {
        width: 100px;
        margin: 0 0 5px 5px;
        font-size: 10px;
      }
      select {
        background-color: white;
        border-radius: 7px;
        height: 40px;
        padding-left: 10px;
      }
    }
    .card-data {
      display: flex;
    }
    .person-data {
      margin-top: 20px;
      display: flex;
    }
    .submit-row {
      margin-top: 20px;
      display: flex;
      button {
        background-color: #e24c2c;
        border: 1px solid #e24c2c;
        border-radius: 7px;
        width: 130px;
        height: 40px;
        color: white;
        font-weight: bold;
        transition: 0.2s linear;
        &:hover {
          cursor: pointer;
          background-color: white;
          border: 2px solid #e24c2c;
          border-radius: 7px;
          color: #e24c2c;
        }
      }
      img {
        margin: 15px 0 0 20px;
        width: 10px;
        height: 12px;
      }
      span {
        margin: 14px 0 0 7px;
        font-size: 11px;
        color: #b6b6b6;
      }
    }

    .form-message {
      display: block;
      width: 220px;
      color: #e24c2c;
      font-size: 10px;
      .invalid-icon {
        position: absolute;
        right: 25px;
        top: 20px;
      }
    }
  }

  .submit-text {
    display: block;
    margin-top: 15px;
    width: 400px;
    font-size: 10px;
    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
