.suggestions {
  width: 32%;
  height: 100%;

  img {
    width: 100%;
    height: 100px;
  }

  &__text {
    margin: auto;
    width: 50%;
    height: 80%;
  }

  span {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  list-style-image: url(../images/listBullet.png);

  li {
    font-size: 18px;
    margin-top: 10%;
  }
}
