@import "./colors";

.timer {
  width: 100%;
  height: 80px;
  background-color: $green;
  border-radius: 5px 5px 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
    font-weight: bold;
  &__text {
    color: white;
    margin-top: 5px;
    font-size: 24px;
  }
  &__time {
    font-size: 21px;
    color: #dbdbdb;
  }
}
