@import "../colors";

.header {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;

  -webkit-box-shadow: 0px -20px 15px 20px grey;
  -moz-box-shadow: 0px -20px 15px 20px grey;
  box-shadow: 0px -20px 15px 20px grey;

  .content {
    margin: auto;
    width: 1280px;
    display: flex;
    justify-content: space-between;

    span {
      font-size: 15px;
      color: $green;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
