@import "../colors";

.footer {
  margin-top: 50px;
  background-color: $brown;
  width: 100%;
  height: 150px;
  color: lightgray;
  font-size: 15px;

  .top {
    margin: auto;
    width: 1280px;
    height: 60%;
    display: flex;
    align-items: center;

    .text {
      width: 15%;
      flex: 0 1 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;

      .vertLine {
        background-color: lightgray;
        width: 1px;
      }
    }
  }

  .bottom {
    width: 100%;
    height: 40%;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
